body {
  font-family: Open Sans, sans-serif;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
}

@dark: black;
@light: #888;

h1 {
  position: absolute;
  font-weight: 600;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 3.5vw;
  line-height: 2;
  text-align: center;
  // make sure this is clickable on top of timer
  z-index: 1;
}

#counters {
  font-size: 18vw;
  line-height: 60vh;
  white-space: nowrap;
  position: absolute;
  bottom: 40%;
}
#counters.running .t {
  color: @dark;
}
#counters,:not(.running) .t {
  color: @light;
}
#counters.min #hr-l {
  display: none;
}
#counters.hr #sec-l {
  display: none;
}

.label {
  color: @light;
  margin-right: 2vw;
  // make up for whitespace between spans a bit
  margin-left: -2vw;
}

#buttons {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  button {
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    font-size: 3.5vw;
    width: 4em;
    padding: 2px 15px;
    margin: 0 5px;
    color: @light;
    background-color: #eaeaea;
    border-radius: 5px;
    border: 1px solid black;
  }
  button:hover {
    background-color: #c0c0c0;
  }
}
