body {
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

@dark: black;
@light: #888;

#task {
  position: absolute;
  margin: 1em auto;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 2.5;
  text-align: center;
  // make sure this is clickable on top of timer
  z-index: 1;
}

#counters {
  font-size: 18vw;
  line-height: 50vh;
  white-space: nowrap;
}
#counters.running .t {
  color: @dark;
}
#counters,:not(.running) .t {
  color: @light;
}
#counters.min #hr-l {
  display: none;
}
#counters.hr #sec-l {
  display: none;
}

.label {
  color: @light;
  margin-right: 2vw;
  // make up for whitespace between spans a bit
  margin-left: -2vw;
}

#buttons {
  text-align: center;
  button {
    font-weight: 400;
    font-size: 3.5vw;
    width: 4em;
    padding: 2px 15px;
    margin: 0 5px;
    color: @light;
    background-color: #eaeaea;
    border-radius: 5px;
    border: 1px solid black;
  }
  button:hover {
    background-color: #c0c0c0;
  }
}

footer {
  font-size: 14px;
  position: absolute;
  bottom: 5%;
  right: 10%;
}
